<!-- base html file  -->
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GK Connect</title>
</head>
<body>
    <h1>Welcome To GK College!</h1>
    {% include 'demo_app/header.html' %} <!--navbar goes here-->
    {% block content%}
    <a href="/register/">
        <button>Register Now!</button>
    </a>
    {% endblock %}
    {% include 'demo_app/footer.html' %} <!--footer goes here-->
</body>
</html>