<!-- base html file  -->
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GK Connect</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="favicon.ico">
</head>
<body class="bg-gray-100 flex flex-col items-center justify-center min-h-screen">

    {% include 'demo_app/header.html' %} <!--navbar goes here-->
    {% block content%}
    <p class="text-center text-black">Lorem Ipsum</p>
    <a href="/register/">
        <button class="w-full bg-black text-white px-5 py-3 mt-8 rounded-md hover:bg-gray-800">Register Now!</button>
    </a>
    <a href="/login/">
        <h3 class="text-1xl font-semibold text-center underline my-1">Already have an account? Log In!</h3>
    </a>
    {% endblock %}
    {% include 'demo_app/footer.html' %} <!--footer goes here-->
</body>
</html>